/* Popups */
button.search {
    --image-width: 40px;
    appearance: none;
    border: none;
    box-sizing: content-box;
    padding: 3px;

    width: calc((var(--image-width) * sqrt(2)));
    height: calc((var(--image-width) * sqrt(2)));
    background: none;
    outline: none;

    cursor: pointer;

    background-image: url('./search-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--image-width);

    border-radius: 10em;

    transition: box-shadow 300ms;

    &:hover {
        cursor: auto;

        box-shadow: 0 0 5px oklch(from var(--main-color, black) l c h / 0.7);
    }
}

#full-search,
#anchored-search,
#quick-add {
    margin-block-end: 1.25rem;
}

#full-search {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-form {
        border: none;
        background-color: transparent;
        padding: 0;

        transition: opacity 300ms ease-in;
        transition-behavior: allow-discrete;

        width: min(calc(100% - 2rem), 400px);

        form {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        input[type='text'] {
            border: none;
            border-radius: 10em;
            outline: none;
            padding: 0.5em 1em;
            width: 100%;
            box-sizing: border-box;
            font-size: 1.25rem;
            color: #002d72;
        }

        input[type='submit'] {
            padding: 0.5em 1em;

            align-self: end;
            border-radius: 10em;
            border: none;

            font-size: 1.25rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            background-color: #002d72;
            color: #fff;

            user-select: none;
            cursor: pointer;
        }

        &::backdrop {
            background-color: oklch(0 0 0 / 0.7);
            transition: opacity 200ms ease;
            transition-behavior: allow-discrete;
        }
    }

    @starting-style {
        .search-form,
        .search-form::backdrop {
            opacity: 0;
        }
    }

    .search-form:not([open]),
    .search-form:not([open])::backdrop {
        opacity: 0;
    }
}

#anchored-search {
    display: flex;
    flex-direction: column;
    align-items: center;

    button.search {
        anchor-name: --search-button;
        /* align-self: end; */

        &:active {
            box-shadow: 0 0 5px oklch(from var(--main-color, black) l c h / 0.7);
        }
    }

    .anchored-form {
        position: absolute;
        position-anchor: --search-button;
        top: anchor(bottom);
        right: auto;
        left: anchor(right);
        position-try-fallbacks: --below-right, --below-left;

        margin-block: 4px;
        margin-inline: 0;

        border: none;
        background-color: rgb(109, 182, 255);
        padding: 1rem;
        border-radius: 0.5em;

        transition: opacity 300ms ease-in;
        transition-behavior: allow-discrete;

        width: min(calc(100% - 2rem), 400px);

        form {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }

        input[type='text'] {
            border: 1px solid black;
            border-radius: 0.5rem;
            outline: none;
            padding: 0.5em 1em;
            width: 100%;
            box-sizing: border-box;
            font-size: 1.25rem;
            color: #002d72;
        }

        input[type='submit'] {
            padding: 0.5em 1em;

            align-self: end;
            border-radius: 0.5rem;
            border: none;

            font-size: 1.25rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            background-color: #002d72;
            color: #fff;

            user-select: none;
            cursor: pointer;
        }

        &::backdrop {
            display: none;
        }
    }

    @starting-style {
        .anchored-form {
            opacity: 0;
        }
    }

    .anchored-form:not([open]) {
        opacity: 0;
    }
}

#quick-add {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flip-button {
        border: none;
        transition:
            background-color var(--transition-timing) ease,
            color var(--transition-timing) ease,
            box-shadow var(--transition-timing) ease;

        &:hover {
            box-shadow: 0 0 0 5px
                oklch(from var(--button-background-color) l c h / 0.7);
        }
    }

    #quick-add-form {
        border: none;
        padding-inline: 0.5rem;
        margin: 0;
        background-color: #eee;

        position: fixed;

        inset-block: 0;
        inset-inline-start: auto;
        inset-inline-end: 0;

        width: 300px;
        height: 100%;

        overflow-y: auto;

        transform: translateX(100%);

        /* progressive enhancement: animating from display */
        transition:
            transform 500ms ease,
            display 500ms ease allow-discrete;

        &::backdrop {
            display: none;
        }

        img {
            width: 150px;
            height: auto;
        }

        h2 {
            text-align: left !important;
        }

        form > * {
            margin-block-end: 0.5rem;
        }
    }

    #quick-add-form[open] {
        transform: translateX(0);
    }

    @starting-style {
        #quick-add-form[open] {
            transform: translateX(100%);
        }
    }
}

/* automatic color contrast */
.button-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 10px;

    width: max-content;
    margin-inline: auto;
}

.contrast-button {
    --button-background-color: black;
    border: none;
    border-radius: 50rem;

    background-color: var(--button-background-color);
    color: contrast-color(var(--button-background-color));

    padding: 0.5em 1em;
    font-weight: 700;
    font-size: 1.25rem;

    &:hover {
        background-color: oklch(
            from var(--button-background-color) calc(l + (l - 0.5) * 0.25) c h
        );
    }

    &:active {
        background-color: oklch(
            from var(--button-background-color) calc(l + (l - 0.5) * 0.5) c h
        );
    }

    &.primary {
        --button-background-color: var(--primary-color);
    }

    &.secondary {
        --button-background-color: var(--secondary-color);
    }

    &.primary-accent {
        --button-background-color: var(--primary-accent-color);
    }

    &.secondary-accent {
        --button-background-color: var(--secondary-accent-color);
    }
}

.flip-button {
    --button-background-color: black;
    --transition-timing: 750ms;
    margin-block: 0.5rem;

    border: none;
    border-radius: 50rem;

    background-color: var(--button-background-color);
    color: contrast-color(var(--button-background-color));

    padding: 0.5em 1em;
    font-weight: 700;
    font-size: 1.25rem;

    transition:
        background-color var(--transition-timing) ease,
        color var(--transition-timing) ease;

    &.primary {
        --button-background-color: var(--primary-color);

        &:hover {
            --button-background-color: var(--primary-accent-color);
        }
    }

    &.secondary {
        --button-background-color: var(--secondary-color);

        &:hover {
            --button-background-color: var(--secondary-accent-color);
        }
    }

    &.primary-accent {
        --button-background-color: var(--primary-accent-color);

        &:hover {
            --button-background-color: var(--primary-color);
        }
    }

    &.secondary-accent {
        --button-background-color: var(--secondary-accent-color);

        &:hover {
            --button-background-color: var(--secondary-color);
        }
    }

    /* transition:
        color 750ms ease,
        background-color 750ms ease; */
}

/* heading text wrap balance */
#text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-block: 15px;

    background-color: #eee;

    hr {
        width: 95%;
    }
}

.book-display {
    display: flex;
    align-items: start;

    gap: 10px;

    img {
        max-height: 300px;
        width: auto;
    }

    .fake-heading {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    .text-holder {
        max-width: 500px;
    }

    .text-balance {
        text-wrap: balance;
    }

    /* progressive enhancement */
    p,
    li {
        text-wrap: pretty;
    }

    .text-center {
        text-align: center;
    }
}

/* accordion/FAQs */
#accordion-clone {
    border-top: 2px solid #002d72;

    details {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }

    details::details-content {
        block-size: 0;

        /* progressive enhancement */
        @supports (interpolate-size: allow-keywords) {
            transition:
                block-size 750ms ease,
                content-visibility 750ms ease allow-discrete;
        }
    }

    details[open]::details-content {
        block-size: auto;
    }

    summary {
        list-style: none;
        user-select: none;
        cursor: pointer;
        position: relative;
        padding: 24px 56px 24px 0;
        font-size: 28px;
        color: var(--primary-color);
    }

    summary::after {
        position: absolute;
        right: 0;
        top: 50%;
        width: 36px;
        height: 36px;
        transform: translateY(-50%);
        content: '▾';
        border-radius: 50%;
        background: #002d72;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 36px;
        text-align: center;
    }

    details[open] summary::after {
        transform: rotate(180deg) translateY(50%);
    }

    .panel {
        margin-bottom: 24px;
        padding: 32px 36px;
        background: #f1f1f1;
        color: #222;
        font-size: 22px;
        line-height: 1.45;
    }

    .panel p {
        margin: 0 0 28px;
    }

    .panel p:last-child {
        margin-bottom: 0;
    }

    .panel hr {
        border: 0;
        border-top: 2px solid #c7c7c7;
        margin: 32px 0;
    }
}

/* this is not a great method to implement this staggered pattern */
/* once sibling-index() is available, that will be ideal with grid-row: sibling-index(); */
/* once attr() can access numerical values for calculation, that will be an okay method with grid-row: attr([data-row]); */
.timeline {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-areas:
        'heading heading heading'
        'item-1878 line .'
        '. line item-1881'
        'item-1882 line .'
        '. line item-1891'
        'item-1893 line .'
        '. line item-1977'
        'item-1995 line .'
        '. line item-today';

    max-width: 1200px;
    margin-inline: auto;
    padding: 3rem 1rem;

    p {
        margin: 0 0 24px;
        padding: 1rem;
        font-size: 22px;
        line-height: 1.45;
    }

    h2 {
        grid-area: heading;
        margin: 0 0 1rem;
        text-align: center;
        color: var(--primary-color);
    }

    details {
        overflow: hidden;
        background-color: #eee;
        border-radius: 1em;
    }

    summary {
        list-style: none;
        user-select: none;
        cursor: pointer;
        position: relative;
        padding: 24px;
        font-size: 28px;
        text-align: center;
        text-wrap: balance;
    }
}

#line {
    background-color: var(--primary-color);
    width: 5px;
    margin-inline: auto;
    grid-area: line;
}

#timeline-1878 {
    grid-area: item-1878;
}

#timeline-1881 {
    grid-area: item-1881;
}

#timeline-1882 {
    grid-area: item-1882;
}

#timeline-1891 {
    grid-area: item-1891;
}

#timeline-1893 {
    grid-area: item-1893;
}

#timeline-1977 {
    grid-area: item-1977;
}

#timeline-1995 {
    grid-area: item-1995;
}

#timeline-today {
    grid-area: item-today;
}

.timeline details::details-content {
    block-size: 0;

    @supports (interpolate-size: allow-keywords) {
        transition:
            block-size 750ms ease,
            content-visibility 750ms ease allow-discrete;
    }
}

.timeline details[open]::details-content {
    block-size: auto;
}

ul,
ol {
    max-width: min(600px, calc(100% - 1rem));
    margin-inline: auto;
}

h2::target-text {
    background-color: transparent;
}

p::target-text {
    background-color: var(--primary-color);
    color: contrast-color(var(--primary-color));
}

h2:target {
    animation: target 1500ms ease-out;
}

@keyframes target {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/* Absolute Positioning Fallbacks */
@position-try --below-right {
    inset: unset;
    top: anchor(bottom);
    left: anchor(right);
}

@position-try --below-left {
    inset: unset;
    top: anchor(bottom);
    right: anchor(left);
}
